// html {
//   background-image: url("http://i.imgur.com/sLsPIcd.jpg");
//   font-style:  #fff;
//   background-size: cover;
//   background-position: center;
//   background-repeat: no-repeat;
// }



.search {
  background-image: url("http://i.imgur.com/sLsPIcd.jpg");
  font-style:  #fff;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  padding: 35% 0;
  & input[type=text]{
    width: 85%;
    display: block;
    margin: 12% auto 0 auto;
    border-radius: 10px;
    padding: 15px 5px;
    font-size: 2rem;
    text-align: center;
  }
  & input[type=submit]{
    display: block;
    width: 55%;
    margin: 5% auto 0 auto;
    font-size: 1rem;
  }

ul {
  display: flex;
  flex-wrap: wrap;
  li {
    display: flex;
    flex: 1;
    width: calc(100%/3 - 20px);
    margin: 10px;
    img{
      height: 200px;
      object-fit: contain;
    }
  }
}
}
